label.control-radio First radio
	input(type='radio' name="radio" checked)
	span.control-radio__indicator

label.control-radio First radio
	input(type='radio' name="radio")
	span.control-radio__indicator
	
label.control-radio First radio
	input(type='radio' name="radio" disabled)
	span.control-radio__indicator
	
label.control-radio First radio
	input(type='radio' name="radio" checked disabled)
	span.control-radio__indicator
