// ===========Base vars================
$font-family: 'Open Sans', sans-serif;
$font-color: #212121;
$line-height: 1.6;
$body-background: white;


// =============Colors=================
$main: #2b464f;
$lgreen: #00ca60;
$dgreen: #138959;
$text: #404040;
$dgray: #767676;
$lgray: #888888;
// $border: #b2b2b2;
// $muted: #6f6f6f;

// =============Fonts==================
$font-secondary: 'Open Sans', sans-serif;



// Social Network Colors
$facebook: #3b5999;
$twitter: #55acee;
$linkedin: #0077B5;
$youtube: #CD201F;
$googleplus: #dd4b39;
$vk: #4c75a3;
$skype: #00AFF0;
