ul.bread-crumbs
	li
		a(href="").bread-crumbs__item Главная
	li
		a(href="").bread-crumbs__item Каталог
	li
		a(href="").bread-crumbs__item Каталог
	li
		a(href="").bread-crumbs__item Каталог
	li
		a(href="").bread-crumbs__item Каталог
	li
		a(href="").bread-crumbs__item Каталог
	li
		a(href="").bread-crumbs__item Каталог
	li
		a(href="").bread-crumbs__item Каталог
	li
		a(href="").bread-crumbs__item Каталог
	li
		a(href="").bread-crumbs__item Каталог
	li
		a(href="").bread-crumbs__item Каталог
	li
		a(href="").bread-crumbs__item Каталог
	li
		a(href="").bread-crumbs__item Каталог
	li
		a(href="").bread-crumbs__item Каталог
	li
		span.bread-crumbs__current Элемент
