label.control-check First checkbox
	input(type='checkbox' checked)
	span.control-check__indicator

label.control-check First checkbox
	input(type='checkbox')
	span.control-check__indicator
	
label.control-check First checkbox
	input(type='checkbox' disabled)
	span.control-check__indicator
	
label.control-check First checkbox
	input(type='checkbox' checked disabled)
	span.control-check__indicator
