footer.footer
	| I am footer
script(src="external/jquery/jquery.js")
script(src="external/bootstrap/js/bootstrap.min.js")
script(src="external/slick-1.6.0/slick/slick.min.js")
script(src="js/application.js")
