.stepper
	button.stepper__button -
		svg(xmlns='http://www.w3.org/2000/svg', width='14', height='2', viewbox='0 0 14 2')
			path(d='M0 2V0h14v2z')
	input(value="1шт" placeholder="шт").stepper__input
	button.stepper__button +
		svg(xmlns='http://www.w3.org/2000/svg', width='14', height='14', viewbox='0 0 14 14')
			path(d='M14 8H8v6H6V8H0V6h6V0h2v6h6z')
